<header class="top-navbar">
  <img src="assets/NEXTR3CART.png" alt="Logo" class="logo">
  <a routerLink="/profilo">
    <img src="assets/avatar.png" alt="Logo" class="logo">
  </a>
  </header>


<nav class="side-navbar">
  <a routerLink="/home/categoria-prodotto" routerLinkActive="active" (click)="toggleDropdown()" class="link-cliccabile"> Categoria Prodotti </a>
    <aside class="sidebar" *ngIf="isCatPage()">
    <ul *ngIf="dropdownVisible">
      <li *ngFor="let categoria of categorie" (click)="selezionaCategoria(categoria)" class="cliccabile">
        {{ categoria.nome }}
      </li>      
    </ul>
  </aside>

  <a routerLink="/home/la-mia-lista" routerLinkActive="active" (click)="toggleDropdown()" class="link-cliccabile">La tua lista</a>
  <aside class="sidebar" *ngIf="isListaPage()">    
    <ul *ngIf="dropdownVisible">
      <li *ngFor="let lista of tutteLeListe" (click)="selezionaLista(lista)" class="cliccabile">
        {{ lista.nomeLista }}
      </li>      
    </ul>

    <div class="nuova-lista">
      <div class="nuova-lista-wrapper">
        <input [(ngModel)]="nomeNuovaLista" placeholder="Nuova lista" />
        <input [(ngModel)]="dataNuovaLista" type="date" placeholder="Data prevista" class="input-data"/>
        <button (click)="creaNuovaLista()">+</button>
      </div>
    </div>
  </aside>
</nav>
