/* Navbar orizzontale */
.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff9f31;
  padding: 10px;
  color: white;
  height: 100%;
  
  
}

.logo {
  height: 70px;
  border-radius: 50%; 
  object-fit: cover;
  margin: 0 20px; 

}



/* Sidebar verticale */
.side-navbar {
  position: fixed;
  top: 95px; 
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #034051;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;

}

.side-navbar a {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}

.side-navbar a.active {
  background-color: #d0d0d07f;
}



ul li {
  color: white;
  font-family: Arial, sans-serif;
}

.cliccabile {
  cursor: pointer;          
  padding: 8px 12px;
  margin: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cliccabile:hover {
  background-color: #e0e0e0;  
  color: #000000;             
}

.cliccabile:active {
  background-color: #c0c0c0;
}



.link-cliccabile {
  cursor: pointer !important;
  color: rgb(255, 255, 255) !important;
  transition: color 0.3s ease !important;
  background-color: #ff9f31 !important;
  margin-bottom: 10px;


}

.link-cliccabile:hover {
  color: rgb(0, 0, 0) !important;
}


.nuova-lista-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 8px; 
  max-width: 200px; 
  margin: 5px;
}

.nuova-lista-wrapper input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box; 
}

.nuova-lista-wrapper button {
  align-self: flex-end; 
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  line-height: 1;
}

.nuova-lista-wrapper button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.nuova-lista-wrapper button:active {
  transform: scale(0.95);
}



