.container {
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url('/assets/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  }
  
  .profile-section {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f4f2eb;
  }
  
  h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1; 
    color: #666; 
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:disabled {
    background-color: #aaccee;
    cursor: not-allowed;
  }
  
  .logout-section {
    margin-top: 15px;
  }
  
  .logout-section button {
    width: 100%;
    padding: 12px;
    background-color: #3540dc;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
    .aggiorna-section button {
    width: 100%;
    padding: 12px;
    background-color: #dc8335;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

    .elimina-section button {
    width: 100%;
    padding: 12px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

    .salva-section button {
    width: 100%;
    padding: 12px;
    background-color: #35dc3b;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  #logo {
    max-width: 200px;
    height: auto;
  }
  
  .logo {
    align-items: center;
    justify-content: center;
  }
  
  /* Responsive layout per dispositivi mobili */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .image-section,
    .profile-section {
      flex: none;
      width: auto;
      height: auto;
    }
  
    .image-section img {
      height: 200px;
      border-radius: 0;
    }
  

  
    #logo {
      max-width: 150px;
    }
  }
  