.container {
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  display: flex;
  margin: 0;
  }
  

  .content {
    flex: 1;
  }
  
  .lista-table {
    width: 100%;
    background: white;
    border-collapse: collapse;
  }
  
  .lista-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  

  
  