.container {
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
  }
  
  .sidebar {
    width: 200px;
    background: #f4f2eb;
    color: rgb(0, 0, 0);
    padding: 15px;
  }
  
  .sidebar button {
    width: 100%;
    padding: 10px;
    background: #ff9f31;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .sidebar ul {
    list-style: none;
    padding-left: 10px;
    margin-top: 10px;
  }
  
  .sidebar li {
    cursor: pointer;
    padding: 5px;
  }
  
  .sidebar li:hover {
    text-decoration: underline;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background: #f4f2eb;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  
  .card {
    width: 200px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  .card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }
  