<div class="container">
  <main class="content">
    <div *ngIf="!categoriaSelezionata">
      <div class="card-grid">
        <div class="card" *ngFor="let categoria of categorie" (click)="cliccaCategoria(categoria)">
          <img src="https://placehold.co/400" alt="Categoria">
          <h3>{{ categoria.name }}</h3>
          <p>{{ categoria.numeroProdotti }} prodotti</p>
        </div>
      </div>
    </div>
    

    <div *ngIf="categoriaSelezionata">
      <button class="indietro-btn" (click)="deselezionaCategoria()">
        ← Torna alle categorie
      </button>
      <h2 (click)="cliccaCategoria(categoriaSelezionata)">{{ categoriaSelezionata.name }}</h2>
      <div class="card-grid">
        <div class="card" *ngFor="let prodottoCategoria of categoriaSelezionata.prodotti">
          <!--<img [src]="prodottoCategoria.img" alt="Prodotto">-->
          <img src="https://placehold.co/400" alt="Prodotto">
          <h4>{{ prodottoCategoria.nome}}</h4>
          <p>Quantità: {{ prodottoCategoria.quantita }}</p>
          <button (click)="aggiungiAllaLista(prodottoCategoria)">+</button>
        </div>
      </div>
    </div>
  </main>
</div>

  